.adychangecover {
    width     : 100%;
    text-align: center;
}

.adychangecover form {
    width : 200px;
    margin: 0 auto;
}

.adychangecover form input {
    margin: 5px;
}

.adychangecover.approve {
    width: 100%;
}

.adychangecover.approve .section {
    width          : 100%;
    text-align     : center;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
    margin-bottom  : 10px;
    border         : 1px solid lightblue;
    padding-bottom : 15px;
    border-radius  : 2px;
}

.adychangecover.approve .section h2 {
    width         : 100%;
    text-transform: capitalize;
}

.adychangecover.approve table {
    width          : 100%;
    display        : flex;
    border-spacing : 0 5px;
    border-collapse: separate;
}

.adychangecover.approve table td {
    width: 160px;
}

.changecover-nav-link {
    margin-left: 2px;
}

.changecover-nav-caret {
    margin-left: 5px;
}

.changecover-notifications {
    display      : inline-block;
    width        : 20px;
    height       : 25px;
    border-radius: 25%;
    text-align   : center;
    background   : #ff00009c;
    color        : white;
    font-weight  : bold;
}

.changecover-notifications span {
    display    : block;
}

.changecover-notifications.notifications-on-list {
    height     : 16px;
    margin-left: 2px;
}