<!-- INCLUDE overall_header.html -->

<div class="adychangecover">
    <form method="POST" action="" enctype="multipart/form-data">
        <input type="text" name="url" value="" placeholder="URL de la publication"><br>
        <input type="hidden" name="MAX_FILE_SIZE" value="5242880">
        <input type="file" class="file" name="cover" accept="image/*" required><br>
        <select name="section">
            <option name="section" value="dcrebirth">DC Rebirth</option>
            <option name="section" value="dchorsrebirth">DC Hors Rebirth</option>
            <option name="section" value="inde">Indépendant</option>
            <option name="section" value="marvel">Marvel</option>
        </select><br>
        <input type="submit" accesskey="s" tabindex="6" name="post" value="Submit" />
    </form>
</div>

<!-- INCLUDE overall_footer.html -->